.crib-d-placeholder{
    background: #FBFBFB;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 141px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        height: 72.9px;
        width: 85px;
    }
}