@import "../../scss/config";
.form-index{
    width: 0;
    // background-color: #046FA7;
    height: 62px;
    
    border-radius: 35px;
    transition: width .3s ease-in;
    position: relative;

    form{
        height: 100%;
        width: 100%;
        //transition: transform .1s ease-in;
        display: grid;
        grid-template-columns: 32% 16% 16% 18% 16%;
        justify-content: space-between;
        transform: scaleX(0);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        
    }
    .search-calendar :nth-child(2), .search-calendar :first-child, .search-guest :first-child, .search-guest :nth-child(2) {
        font-size: 12px;
    }
    .checkin, .gues{
        border-left: 1px solid #CBCBCB;
        margin: 10px 0;
    }
    .s-button{
      width: 8vw;
      height: 100%;  
      border: none;
      background-color: #046FA7;
      border-bottom-right-radius: 35px;
      border-top-right-radius: 35px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
          width: 38px;
          height: 38px;
      }
    }
    .location{
        width: 15vw;
        height: 100%;
        position: relative;
        border-radius: 42.5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        .location__input{
            border: 0;
            background: transparent;
            width: 80%;
            margin-top: 16px;
            padding: 8px 0 5px 0;
            font-size: 12px;
            color: #8f8f8f;
            margin-left: 20px;
            outline: none;
        }
        label{
            position: absolute;
            top: 12px;
            left: 20px;
            font-size: 12px;
            pointer-event: none;
            transition: all 0.5s ease-in-out;
            font-family: Poppins;
            font-weight: 500;
            line-height: 21px;
            color: #000000;
        }
    }
    #qsearch1{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        border-radius: 35px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: scaleX(1);
        transition: transform 0.3s ease-in-out;
        span{
            color: #fff;
            font-size: 14px;
            font-family: Poppins;
            font-weight: 500;
        }
        svg{
            width: 38px;
            height: 38px;
        }
    }
    &.open{
        form{
            visibility: visible;
            transform: scaleX(1);
            opacity: 1;
            transition-delay: .3s;
        }
        #qsearch1{
            visibility: none;
            transform: scaleX(0);
        }
    }
    &.close{
        form{
            visibility: hidden;
            transform: scaleX(0);
        }
        #qsearch1{
            visibility: visible;
            transform: scaleX(1);
        }
    }
}
@include mediaSm {
    .form-index{
        background-color: transparent !important;
        margin-left: -65px;
        width: 188px !important;
        span.qsearch1{
            display: none;
        }
        &.close{
                form{
                    transform: scale(0);
                }
             #qsearch1{
                 position: absolute;
                 right: 0;
                 width: unset;
            svg{
                width: 22px;
                height: 22px;
                path{
                    fill: #0066FF;
                }
            }
        }
    }
        &.open{
           
           
            form{
                transform: scale(1);
                display: flex;
                .location{
                    width: auto;
                    label{
                        display: none;
                    }
                    input{
                        margin-top: 0;
                    }
                }
                .s-button{
                    background-color: transparent;
                    width: auto;
                    height: auto;
                    svg{
                        width: 22px;
                        height: 22px;
                        path{
                            fill:#0066FF
                        }
                    }
                }
            }
            .checkin{
                display: none;
            }
        }
    }
}