@import "../../../scss/config";
.profiles{
    padding-top: 90px;
    &.renting{
        margin-left: 7%;
        padding-top: 100px;
    }
    table{
        tr{
            td{
                font-family: Mulish;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;

                /* or 150% */
                letter-spacing: 0.1px;
                color: #212121;
                label{
                    border: 1px solid #EBEBEB;
                    box-sizing: border-box;
                    border-radius: 4px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 7px;
                    background: #fff;
                    input, textarea,select{
                        background: #fff;
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        font-family: Mulish;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;

                        /* or 150% */
                        letter-spacing: 0.1px;

                        color: #686F74;
                        img{
                            margin-right: 10px;
                        }

                    }
                    select{
                        width: 100%;
                    }
                    textarea{
                        box-shadow: unset;
                        resize: none;
                       
                    }
                }

            }
        }
    }
    .edit-btn {
        button{
            background-color: #1053FF !important;
            box-shadow: unset;
            color: #fff;
            width: 161px;
            height: 50px;
            border-radius: 4px;
            text-transform: capitalize;
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;

            /* or 150% */
            letter-spacing: 0.1px;
            transition: background-color 0.3s;
            &:hover{
                background-color: #082B83 !important;
            }
        }
    }
}

@include mediaSm{
    .profiles{
        &.renting{
            margin-left: 0;
        }
        table{
            width: 100%;
            tr{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                td{
                    label{
                        input, textarea{
                            background: #fff;
                        }
                    }
                }
            }
        }
        button{
            width: 100% !important;
        }
    }
}