@import "../../scss/config";
.carousel-main-container{
    width: 100%;
    // min-width: 1280px;
    position: relative;
  
    &>button{
        background-color: #0066FF;
        border: none;
        border-radius: 50%;
        position: absolute;
        height: 44px;
        width: 44px;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%) scale(0.9);
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        &:first-child{
            left: -44px;
            &:hover{
                transform: translateY(-50%) scale(1);
            }
        }
        &:last-child{
            right: -44px;
            &:hover{
                transform: translateY(-50%) scale(1);
            }
        }

    }
    .carousel-main-container-track{
        width: 100%;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
            width: 0;
            height: 0;
        }
        scroll-behavior: smooth;
        overflow-y: hidden;
        box-sizing: border-box;
        transition:  overflow-x 0.6s;
        > *{
            padding: 8px;
            -webkit-user-drag: none;
            -khtml-user-drag:none;
            -moz-user-drag:none;
            -o-user-drag:none;
            user-drag:none;
            -moz-user-select: none;
            -webkit-user-select: none;
           
        }
        &.slides-per-page-4{
            > *{
                flex-grow: 0;
                max-width: 25%;
                flex-basis: 25%;
            }
        }
        &.slides-per-page-3{
            > *{
                flex-grow: 0;
                max-width: calc(100%/3);
                flex-basis: calc(100%/3);
            }
        }
        &.slides-per-page-2{
            > *{
                flex-grow: 0;
                max-width: calc(100%/2);
                flex-basis: calc(100%/2);
            }
        }
        &.slides-per-page-1{
            > *{
                flex-grow: 0;
                max-width: calc(100%);
                flex-basis: calc(100%);
            }
        }
        &.swipe > *{
            pointer-events: none;
            -webkit-user-drag: none;
            -khtml-user-drag:none;
            -moz-user-drag:none;
            -o-user-drag:none;
            user-drag:none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -moz-user-drag:none;
            -moz-user-modify: none;
            
        }
    }
}

@include mediaSm {
    .carousel-main-container{
        &>button{
            display: none;
        }
        .carousel-main-container-track{
            scrollbar-width: none;
            width: 100%;
            > *{
                flex-grow: 0;
                max-width: 100% !important;
                flex-basis: 100% !important;
                padding: 8px;
               
            }
        } 
    }
}